page-early {
	.kotak {
		background-color:#f1801a;
		border-radius:12px;
		margin-top:20px;
	}
	.kotak2 {
		background-color:map-get($colors, "dark");
		border-radius:12px;
		margin-top:20px;
	}
	.inputan {

	}

	
}
